{
  "extends": ["airbnb/base"],
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "no-plusplus": "off",
    "indent": ["off", "tab"],
    "no-tabs": "off",
    "no-param-reassign": "off"
  }
}